<a href="https://colab.research.google.com/github/treezy254/Cause-of-Deaths-in-the-United-States/blob/master/Cause-of-Deaths-in-the-United-States.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''
What is the total number of records in the dataset?
  ANS: 10868 rows, 5 columns

• What were the causes of death in this data set? ---+
  Ans : 'Unintentional injuries', "Alzheimer's disease", 'Stroke', 'CLRD',
       'Diabetes', 'Heart disease', 'Influenza and pneumonia', 'Suicide',
       'Cancer', 'Kidney disease

• What was the total number of deaths in the United 
States from 1999 to 2017? ---+

  Ans: 168,018,304

• What is the number of deaths per each year from 1999 
to 2017? ---+
  ANS: 1999    71930
2003    68864
2002    68797
2000    68426
2001    68234
2004    64999
2005    64916
2006    64871
2017    62797
2007    61690
2016    61573
2015    61289
2008    60709
2013    60299
2011    59772
2012    59371
2009    59206
2010    58641
2014    58412

• Which ten states had the highest number of deaths 
overall? ---+
  ANS: State
California              71930
New York                58987
Florida                 51434
Texas                   45346
Pennsylvania            41707
Illinois                33387
Ohio                    33192
Michigan                27693
New Jersey              23724
North Carolina          19723

• What were the top causes of deaths in the United States 
during this period? ---+
  
  ANS: 
    Cause Name
    Heart disease              71930
    Cancer                     59629
    Stroke                     18185
'''

'\nWhat is the total number of records in the dataset?\n• What were the causes of death in this data set?\n• What was the total number of deaths in the United \nStates from 1999 to 2015?\n• What is the number of deaths per each year from 1999 \nto 2015?\n• Which ten states had the highest number of deaths \noverall?\n• What were the top causes of deaths in the United States \nduring this period?\n'

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

data = pd.read_csv('NCHS.csv', index_col=0)
data.head()

,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
Year,,,,,
2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,"169,936",49.4
2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,"2,703",53.8
2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,"4,184",56.2
2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,"1,625",51.8

In [9]:
data.describe()

,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
count,10868,10868,10868,10868,10868
unique,11,11,52,5964,2490
top,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,343,19.2
freq,988,988,209,15,40

In [23]:
data.isnull().any()

113 Cause Name             False
Cause Name                 False
State                      False
Deaths                     False
Age-adjusted Death Rate    False
dtype: bool

In [10]:
data.shape

(10868, 5)

In [89]:
causes = data['Cause Name'].unique()
causes

array(['Unintentional injuries', 'All causes', "Alzheimer's disease",
       'Stroke', 'CLRD', 'Diabetes', 'Heart disease',
       'Influenza and pneumonia', 'Suicide', 'Cancer', 'Kidney disease'],
      dtype=object)

In [90]:
data = data[data["Cause Name"] != "All causes"]
causes = data['Cause Name'].unique()
causes

array(['Unintentional injuries', "Alzheimer's disease", 'Stroke', 'CLRD',
       'Diabetes', 'Heart disease', 'Influenza and pneumonia', 'Suicide',
       'Cancer', 'Kidney disease'], dtype=object)

In [91]:
len(causes)

10

In [95]:
# data.sort_values(by=['Cause Name']).head(5)
causer = data.groupby('Cause Name')['Deaths'].max().sort_values(ascending=False)
causer

Cause Name
Heart disease              71930
Cancer                     59629
Stroke                     18185
Alzheimer's disease        16238
CLRD                       13881
Unintentional injuries     13840
Diabetes                    9595
Influenza and pneumonia     8324
Suicide                     4312
Kidney disease              4256
Name: Deaths, dtype: int64

In [71]:
death_data = pd.read_csv('NCHS.csv', index_col=0)
death_data['Deaths'] = death_data['Deaths'].str.replace(',', '')
death_data['Deaths'] = death_data['Deaths'].astype(int)
death_data['Deaths'].sum()

168018304

In [72]:
state = data["State"].unique()
state

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [73]:
data = data[data['State'] != 'United States']
states = data['State'].unique()
states

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [74]:
len(states)

51

In [98]:
top = data.groupby('State')['Deaths'].max().sort_values(ascending=False)
top

State
California              71930
New York                58987
Florida                 51434
Texas                   45346
Pennsylvania            41707
Illinois                33387
Ohio                    33192
Michigan                27693
New Jersey              23724
North Carolina          19723
Georgia                 18389
Missouri                17974
Indiana                 16661
Tennessee               16280
Massachusetts           15871
Virginia                15329
Wisconsin               13827
Alabama                 13419
Washington              12687
Arizona                 12398
Maryland                12348
Kentucky                12098
Louisiana               12007
Oklahoma                11297
South Carolina          10418
Minnesota                9925
Mississippi              9336
Connecticut              9127
Iowa                     8699
Arkansas                 8330
Oregon                   8093
Colorado                 7928
Kansas                   6975
West Virginia            6822
Nevada                   6457
Nebraska                 4497
New Mexico               3896
Utah                     3749
Maine                    3418
Rhode Island             3115
Idaho                    3084
New Hampshire            2875
Hawaii                   2605
Montana                  2164
Delaware                 2124
South Dakota             2105
North Dakota             1833
District of Columbia     1761
Vermont                  1438
Wyoming                  1051
Alaska                   1016
Name: Deaths, dtype: int64

In [96]:
years = data.groupby('Year')['Deaths'].max().sort_values(ascending=False)
years

Year
1999    71930
2003    68864
2002    68797
2000    68426
2001    68234
2004    64999
2005    64916
2006    64871
2017    62797
2007    61690
2016    61573
2015    61289
2008    60709
2013    60299
2011    59772
2012    59371
2009    59206
2010    58641
2014    58412
Name: Deaths, dtype: int64